* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}


.main_box {
    background-image: url('./image/photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}


.btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}




.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 6px rgba(255,255,255,0.9);
    transition: all 0.35s ease-in;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    height: 70px;
    line-height: 60px;
    box-shadow: 0.1em 0.2em 6px rgba(255,255,255,0.5);
}

 .sidebar_menu .logo a{
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 200px;
 }
.sidebar_menu .logo a{
    position: absolute;
    left: 60px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
} 

.sidebar_menu .btn_two i{
    color: rgb(232, 206, 39);
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}


.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;   
}


.sidebar_menu .menu i,a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}


.sidebar_menu .menu i{
    padding-right: 12px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 50px;
    bottom: 60px;

}

.sidebar_menu .social_media i{
    font-size: 1.2em;
    color: aliceblue;
    opacity: 0.5;
    padding: 0 10px; 
}


#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 1px 2px 4px rgba(255,255,255,0.9);
}

.btn_one:hover{
    font-size: 35px;
}



.btn_two i:hover{
    font-size: 28px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    color: white;
}
.sidebar_menu .social_media i:active{
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}


#check:checked ~ .btn_one {
    opacity: 0;
}

#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}


@media (max-width: 768px) {
  .main_box {
    background-attachment: scroll;
    background-position: top center;
  }
}

